.root {
  background-color: white;
  color: black;
  padding-left: 150px;
  padding-right: 150px;
}
.gridsmartphone {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding-top: 50px;
  padding-bottom: 50px;
}
.gridcategorie {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  padding-top: 50px;
  padding-bottom: 50px;
}
.gridbrand {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  padding-top: 50px;
  padding-bottom: 50px;
}
.gridessential {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  padding-top: 50px;
  padding-bottom: 50px;
}
