.container {
  display: flex;
}

.card {
  position: relative;
  width: 250px;
  height: 350px;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(220, 220, 220);
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
